<% content_for :title do %>Users<% end %>


<table class="rows-clickable">
	<tr>
		<th>Name</th>
		<th>Logged in</th>
		<th>Created</th>
		<th>Last activity</th>
		<th></th>
	</tr>
<% for user in @users %>

	<tr>
		<td><%= user.name %></td>
		<td><%= user.is_logged_in.yes_or_no %></td>
		<td><span title="<%= user.created_at %>"><%= time_ago_in_words(user.created_at) %> ago</span></td>
		<td><span title="<%= user.updated_at %>"><%= time_ago_in_words(user.updated_at) %> ago</span></td>
		<td><%= link_to 'details', user %></td>
	</tr>


<% end %>


</table>
